*{
    font-family: sans-serif;
}
main{
    min-height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
}
.container{
    text-align: center;
}
.container h1{
    color: #222;
    padding: 1rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    font-size: 60px;
}
span#value{
    font-size: 100px;
}
.button-container{
    margin-top: 20px;
}

.btn{
    margin: 5px;
    font-family: sans-serif;
    text-transform: uppercase;
    background: transparent;
    color: #222;
    letter-spacing: 0.1rem;
    display: inline-block;
    font-weight: 700;
    transition: all 0.3s linear;
    border: 2px solid #222;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    font-size: 1rem;
    padding:0.75rem 1.25rem;
}
.btn:hover{
    color: #fff;
    background: #222;
}