.footer{
    background-color: #222;
    color: white;
    padding: 3em;
    text-align: center;
}
.socialList{
    display: flex;
    justify-content: center;
    list-style-type: none ;
}
.socialList li{
    font-size: 1.5em;
    margin: 0 1em;
}
.socialList li:hover{
    cursor: pointer;
    color: #ffbb33;
}
.copyRight{
    margin-top: 2em;
}
.copyRight span{
    font-weight: bold;
    color: #ffbb33;
}