.container{
    width: 90vh;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}
.minHeight{
    min-height: calc(100vh - 284px);
}
.start{
    justify-content: flex-start;
}
.column{
    flex-direction: column;
    justify-content: flex-start;
}
@media screen and (max-width:820px){
    .container{
        width: 90%;
    }
}